#nav {
    background-color: #007bff;
    width: 100%;
    color: white;
}

footer {
    background-color: #007bff;
    color: white;
}

form{
    margin-bottom: 10%;
}

.hidden{
    display: none;
}

.hidden2{
    display: none;
}

.card{
    max-height: 40em;
    overflow: scroll;
}

td{
    width: 30%;
}

thead{
    background-color: #007bff; 
    color: white; 
    font-size: 120%;
}

h4{
    font-size: 26px;
    margin-bottom: 1em;
}